@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 129 50% 5%;
    --card: 0 0% 100%;
    --card-foreground: 129 50% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 129 50% 5%;
    --primary: 129 48% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 129 20% 96%;
    --secondary-foreground: 129 48% 20%;
    --muted: 129 10% 94%;
    --muted-foreground: 129 10% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 129 48% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 129 20% 90%;
    --input: 129 20% 90%;
    --ring: 129 48% 30%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-black tracking-tighter uppercase;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-3xl border border-white/10 shadow-[0_8px_32px_0_rgba(0,0,0,0.1)];
}